<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/dependencies/semantic/semantic.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <title>Slack</title>
  </head>
  <body>
    <%- body %>
    <!-- Optional JavaScript -->
    <% /* Auto-injected <script> tags: */ %>
      <!--SCRIPTS-->
      <script src="/dependencies/sails.io.js"></script>
      <script src="/dependencies/lodash.js"></script>
      <script src="/dependencies/jquery.min.js"></script>
      <script src="/dependencies/vue.js"></script>
      <script src="/dependencies/bootstrap-4/popper.js"></script>
      <script src="/dependencies/bootstrap-4/bootstrap.js"></script>
      <script src="/dependencies/cloud.js"></script>
      <script src="/dependencies/jquery.scrollTo.min.js"></script>
      <script src="/dependencies/moment.min.js"></script>
      <script src="/dependencies/parasails.js"></script>
      <script src="/dependencies/semantic/semantic.min.js"></script>
      <script src="/js/cloud.setup.js"></script>
      <script src="/js/components/ajax-button.component.js"></script>
      <script src="/js/components/ajax-form.component.js"></script>
      <script src="/js/components/modal.component.js"></script>
      <script src="/js/utilities/is-valid-email-address.js"></script>
      <script src="/js/utilities/open-stripe-checkout.js"></script>
      <script src="/js/pages/498.page.js"></script>
      <script src="/js/pages/account/account-overview.page.js"></script>
      <script src="/js/pages/account/change-password.page.js"></script>
      <script src="/js/pages/account/edit-profile.page.js"></script>
      <script src="/js/pages/contact.page.js"></script>
      <script src="/js/pages/dashboard/welcome.page.js"></script>
      <script src="/js/pages/entrance/confirmed-email.page.js"></script>
      <script src="/js/pages/entrance/forgot-password.page.js"></script>
      <script src="/js/pages/entrance/login.page.js"></script>
      <script src="/js/pages/entrance/new-password.page.js"></script>
      <script src="/js/pages/entrance/signup.page.js"></script>
      <script src="/js/pages/faq.page.js"></script>
      <script src="/js/pages/homepage.page.js"></script>
      <script src="/js/pages/legal/privacy.page.js"></script>
      <script src="/js/pages/legal/terms.page.js"></script>
      <script src="/js/pages/slack.js"></script>
      <!--SCRIPTS END-->
  </body>
</html>